:root{
    --primary-colour: #569fb3;
    --highlight-colour: #f7e089;
    --tertiary-colour: #86d7b7;
    --border-colour: #FFFFFF;
    --text-colour: #FFFFFF;
}

html{
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom left,var(--highlight-colour) 0%, var(--primary-colour) 100%);
    height:100%;
    width:100%;
  
}