:root{
    --primary-color: #6ebe45;
    --black: #414042;
    --shadow:#727272;
    color: var(--black);
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #FFF;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	background-color: #aaa;
}

html{
    overflow:hidden;
}

body{
    margin:0px;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    width:100%;
}

button{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:20px;
}

.invisible {
  display: none;
}

/* Pop up Styles */

.cover{
    background-color:rgba(0,0,0,.8);
    width:100vw;
    height:100vh;
    z-index:1;
    position:absolute;
    top:0px;
}

.popup{
    box-shadow:0px 5px 10px 5px #232323;
    width:33vw;
    height:auto;
    background-color:white;
    border-radius:15px;
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
    position:absolute;
    margin:auto;
    top:25vh;
    left:33vw;
    z-index:2;
}

.popup-header{
    background-color:#414042;
    display:flex;
    padding:3vh;
    border-radius:15px 15px 0px 0px;
    margin-top:-4px;
}

.logo{
    width: 250px;
    height:auto;
    margin: auto;
}

.popup-contents{
    margin-top:-3px;
    padding:5%;
    text-align: center;
}

.drop-box{
    border-style: dashed;
    border-color: #b1b1b1;
    border-radius: 15px;
    border-width: 2px;
    padding:10%;
    display:flex;
}

.add-file{
    margin:auto;
    margin-top:auto;
    border-color:rgb(93, 162, 59);
    background-color:#6EBE45;
    color:white;
    border-width:0px;
    border-radius:15px;
    padding: 2px 20px;
    cursor: pointer;
    transition: box-shadow .2s;
}

.add-file:hover{
    box-shadow:0px 1px 2px 1px #727272;
    transition: box-shadow .2s;
}

.add-file:active{
    box-shadow:0px 1px 1px 0px #727272;
    transition: box-shadow .02s;
}

.indicate{
    margin:auto;
    width:100px;
    height:auto;
}

/* top bar styles */

.topbar{
    z-index:0;
    display:flex;
    box-shadow: 0px 2px 2px -2px rgba(0,0,0,.2);
    background-color:white;
    width:100%;
    height:5%;
    justify-content: space-between;
}

.logotop{
    width: auto;
    height:80%;
    margin: auto;
    margin-left: 1%;
}

.buttonpanel{
    height:5vh;
    width:300px;
    display:flex;
    align-self: flex-end;
}

.topbutton{
    height: 100%;
    width: 100px;
    margin: 0px;
    background-color: white;
    border: solid;
    border-width: 0px;
    z-index:0;
    box-shadow: 0px 0px 0px 0px #727272;
    transition: box-shadow ease .2s;
    cursor: pointer;
}

.topbutton:hover{
    box-shadow: 0px 0px 3px 1px #727272;
    z-index: 1;
    transition: box-shadow ease .2s;
}

.topbutton:active{
    box-shadow: inset 0px 0px 3px 1px #727272;
    z-index: 1;
    transition: box-shadow ease .2s;
}

.callbutton{
    flex: 1 1 auto;
    height: 100%;
    margin: 0px;
    background-color: white;
    border: solid;
    border-color:#727272;
    border-width: 1px 0px 0px 1px;
}

.blue{
    background-color: var(--primary-color);
    color:white;
    font-weight:500;
    border-width:0px;
}

/* canvas */
#container {
    width: 100%;
    height: 95%;
    margin-top: 3px;
    overflow: hidden;
}


/* Side Bar L */

.control-left{
    background-color:white;
    z-index:0;
    position:absolute;
    flex-direction:column;
    top: calc(10%);
    left:1%;
    height:auto;
    max-width: 80px;
    border-radius: 15px;
    display:flex;
    box-shadow: 0px 2px 3px 1px #727272;
}

.tooltitle{
    background-color:#414042;
    color:white;
    text-align: center;
    border-radius:15px 15px 0px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tooltop{
    cursor:pointer;
    display:flex;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
    margin:auto;
    height:100%;
    width:100%;
    transition: background-color .2s;
    user-select: none;
    -moz-user-select: none;
}


.tooldiv{
    background-color:#414042;
    color:white;
    text-align: center;
    border-radius:0px;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;    
}

.material-icons{
    color:#646562;
    margin:0 auto;
    margin-top:8%;
    min-width: 10px;
    max-width:50px;
    width:40%;
    height:auto;
    text-align: center;
}

.end{
    border-radius: 0px 0px 15px 15px !important;
    margin-bottom:0px !important;
}


.tool{
    cursor:pointer;
    display:flex;
    flex-direction: column;
    border-radius: 0px;
    margin:auto;
    height:100%;
    width:100%;
    transition: background-color .2s;
    user-select: none;
    -moz-user-select: none;
}

.active, .tool:hover{
    background-color:var(--primary-color);
    color:white;
    transition: background-color .2s;
}

.tool:hover img{
    filter:brightness(500%);
    transition: brightness .2s;
}

.tool:active{
    box-shadow:inset 0px 0px 5px 1px #414042;
}

.toolimg{
    margin:0 auto;
    margin-top:8%;
    min-width: 10px;
    max-width:50px;
    width:40%;
    height:auto;
}

.tooltip{
    text-align: center;
    margin:auto;
    font-size: calc(12px + 6 * ((100vw - 500px) / 2000));
    font-weight:500;
    margin-bottom:8%;
    color:white;
}

/* Scale Menu */

.scale{
    opacity:0;
    position:absolute;
    top:20%;
    left:7%;
    width:20%;
    max-width: 300px;
    height:auto;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 1px #727272;
    transition: opacity .2s, left .2s;
    pointer-events: none;
    background-color: white;
}

.menuExit{
    width: 30px;
    height:30px;
    filter:brightness(500%);
    margin-right:4%;
    cursor: pointer;
}

.scaleContent{
    height:100%;
    width: 90%;
    padding:3% 5%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.scaleContent p{
    margin:10px 5px 10px 0px;
    width:40%;
    height:20px;
}

.inputbox{
    margin: 10px 0px 10px 0px;
    width:40%;
    height:20px;
}

.radio{
    margin:10px 10px 10px 0px;
    height:20px;
}

/* view menu */

.view{
    flex-wrap: wrap;
    justify-content:space-around;
}

.scale button{
    width:40%;
    border: none;
    background-color:white;
    box-shadow: 0px 1px 3px #717171;
    margin-bottom:3%;
    transition: background-color .15s, color .15s, box-shadow .2s;
}

.scale button:hover{
    background-color:var(--primary-color);
    color:white;
    border: none;
    box-shadow: 0px 1px 5px #727272;
    transition: background-color .15s, color .15s, box-shadow .2s;
}

/* Devices Menu */

.scaleContent img{
    width:30%;
    height:150px;
}

.device{
    justify-content: space-around;
}

/* Side Bar R */

.control-right{
    background-color:white;
    z-index:0;
    position:absolute;
    flex-direction:column;
    top: 8%;
    right:1%;
    height:auto;
    min-width: 120px;
    border-radius: 15px;
    display:flex;
    box-shadow: 0px 2px 3px 1px #727272;
    transition: right .2s;
}

.setcat{
    display:flex;
    flex-direction: row;
    margin-bottom:5px;
}

.setting{
    margin:5% 5%;
    color:var(--black);
    width:90%;
    text-align:left;
}

.indicate{
    width:10%;
}

.tool:hover p{
    color:white;
    transition:color .2s;
}

.supports_rafts{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:20px;
    margin-bottom:2%;
}

.sr_title{
    margin:0px;
    margin-left:5%;
    width:60%;
    font-size:14px;
    font-weight: 300;
}

.sr_input{
    width:30%;
    height:100%;
}

.sr_check{
    margin:auto;
    margin-right:5%;
}

.keyline{
    margin:0% 5%;
    margin-bottom:5%;
    border-bottom: 1px solid #727272;
    width:90%;
    height:auto;
    display:flex;
    font-weight: bold;
    justify-content: space-between;
}

.startS{
    margin-top:20px;
}

#advancedB{
    margin-bottom:-4px !important;
}

#advancedB:active{
    box-shadow: inset 0px 0px 5px 1px #414141;
}

/* advanced */


.advanced{
    overflow:auto;
    height:95vh;
    width:200px;
    background-color:white;
    position:absolute;
    top:5%;
    right:-200px;
    z-index:0px;
    box-shadow: 0px 2px 3px 1px #727272;
    transition: right .3s;
    opacity: 0;
}

.advanced button{
    background-color:white;
    border-color:#aaa;
    border-width:0px;
    border-style:solid;
    transition: background-color .1s, color .1s, border-width .1s;
    box-shadow: 0px 1px 3px #717171;
}

.advanced button:hover{
    background-color:var(--primary-color);
    border-width: 0px;
    color: white;
    box-shadow: 0px 1px 5px #717171;
    transition: background-color .15s, color .15s, border-width .15s;
}

.b{
    display:flex;
    justify-content: space-around;
    width:100%;
    margin-bottom:5%;
    height: 30px;
}

.supports_rafts button{
    margin-left:5%;
}

.big{
    font-size:24px;
    align-self:center;
    margin-top:0;
}

.startK{
    padding-top:4%;
}

.backB{
    cursor:pointer;
    width:98%;
    color:white;
    padding:1%;
    text-align: center;
    background-color:var(--black);
    
}
.backB p{
    margin-right:2%;
    font-weight: 500;
    font-size:20px;
}

.inline{
    float:left;
    width:50%;
    margin-bottom:0px;
}

.image{
    width:27px;
    height:27px;
    align-self:center;
    cursor:pointer;
}

/* credit */

.credit{
    position:absolute;
    color:white;
    bottom:0px;
    left:0px;
    background-color:var(--primary-color);
    padding:.5% 2% .5% 1%;
    margin:0px;
    border-radius:0px 15px 0px 0px;
}  

.fa-hand-pointer, .fa-eye, .fa-trash-alt, .fa-clone, .fa-sync, .fa-camera, .fa-question-circle, .fa-expand-arrows-alt, .fa-times {
    color:#646562;
    font-size: 20px;
    margin:0 auto;
    margin-top:8%;
    min-width: 10px;
    max-width:50px;
    width:40%;
    height:auto;
    text-align: center;
}

#assets{
    display: none;
}

/** sender dialog */

#sender {
    position: absolute;
    text-align: center;
    top: 5px;
    right: 0px;
    color: white;
    border: 1px solid white;
    background-color: rgba(20,20,20,0.75);
    padding: 10px;
    display: none;
}
#sender-bar {
    border: 0 !important;
    margin: 2px 2px 0 0 !important;
    padding: 0 !important;
    position: absolute;
    z-index: 200;
    right: 3px;
    top: 3px;
}
#sender-bar button {
    margin: 0;
}
#sender > div {
    border: 1px solid #888;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    margin: 6px 0 6px 0;
}
#sender .sender-sel:hover {
    border: 1px solid yellow;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#sender table {
    width: 100%;
}
#sender th {
    text-align: left;
}
#sender td {
    text-align: right;
}
#sender input[disabled] {
    background-color: #bbb;
    border-color: #ccc;
    color: black;
}
#v a {
    color: #8ae;
}
#sender a:hover {
    color: #fff;
    background-color: #888;
}
#sender-log {
    width: 100%;
    height: 100px;
    padding: 5px;
    overflow: auto;
    text-align: left;
    font-size: 11px;
    max-width: 100em;
}
#sender-set-zero, #sender-goto-zero, #sender-connect, #sender-port-close {
    width: 100%;
}
#sender-jog {
    flex-grow: 1;
}
#sender label {
    color: #ddd;
    background-color: #555;
    border: 1px solid #aaa;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
}
#sender span {
    font-weight: normal;
}
#sender-control td {
    text-align: justify;
}
#sender-control input {
    margin-left: 2px;
}
#sender-control-buttons {
    float:right;
}
#sender-status {
    text-align: center;
    background-color: #555 !important;
    border: 1px solid black !important;
    margin: 2px 2px 2px 0;
    padding: 2px 2px 2px 0;
}
#sender-quick button {
    flex-grow: 1;
}
#sender-coordinates input {
    text-align: right;
}


/** layer slider and controls */

#layer-view {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 30px;
    background-color:var(--black);
    border-radius: 5px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
}
#layer-view p {
  position: relative;
}
#layer-view input {
    vertical-align: middle;
}
#layer-view button {
    position: relative;
    background-color:var(--black);
    text-align: center;
    vertical-align: middle;
    height: 100%;
    border: 0px;
    color: white;
    font-weight: 300;
    font-size: 15px;
}
#layer-id {
  background-color: var(--black);
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

#layers {
    display: none;
    position: fixed;
    bottom: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 6px;
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
}
#layers label {
    text-align: left;
    color: rgba(0,0,0,0.85);
}

/** device dialog */

#devices {
    text-align: center;
    top: 8%;
    left: 35%;
    width: 30%;
    max-width: 40%;
}

.printer-button{
  border-radius: 15;
  box-shadow: 0px 2px 3px 1px #727272;
  overflow: hidden;
}

.printer-button:hover{
  box-shadow: 0px 0px 3px 1px #727272;
  z-index: 1;
  transition: box-shadow ease .2s;
}

.printer-button:active{
  box-shadow: inset 0px 0px 3px 1px #727272;
  z-index: 1;
  transition: box-shadow ease .2s;
}

#devices button {
    margin-left: 1px;
    margin-right: 2px;
}
#devices span {
    border: 0;
    background: transparent;
}
#devices-body {
    height: 100%;
}
#device-labels span {
    width: 200px;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 5px 5px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #555;
    text-align: center;
}
#device-cols > div {
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#device-info > div {
    margin-top: 2px;
    margin-bottom: 2px;
    flex-basis: auto;
    flex-shrink: 0;
    position: relative;
}
#device-action > button {
    text-align: center;
}
#device-action > span {
    flex-grow: 1;
    width: 100%;
}
#devices label {
    text-align: left;
}
#devices input {
    background-color: #ddd;
    margin-bottom: 1px;
    text-align: right;
}
#devices input:focus {
    background-color: #dee;
}
#device-list select {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    color: white;
    
    border: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    overflow-y: auto;
    outline: none;
}
#device-list select::-webkit-scrollbar {
    display: none;
}
#device-list option[local="1"] {
    color: #ff5;
}
#device label {
    white-space: nowrap;
}
#device textarea {
    overflow: hidden;
    font-family: monospace;
}

/** file catalog */

#import {
    width: 100%;
}
button[import="1"] {
    width: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
#catalog {
    text-align: center;
    min-height: 25%;
    max-height: 75%;
    height: 1000px;
}
#catalog div {
    position: relative;
}
#catalogBody {
    height: 100%;
}
#catalogBody div::-webkit-scrollbar {
    display: none;
}
#catalogList {
    overflow-y: scroll;
    overflow-x: hidden;
}
#catalogList button {
    margin: 0px 0px 2px 2px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


#loading {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  border: 2px solid rgba(10,10,10,0.25);
  border-radius: 5px;
  margin: 2px;
  background-color: rgba(200,200,200,0.75);
  text-align: center;
  display: none;
}

#progress {
  position: relative;
  width: 1%;
  height: 100%;
  background-color:var(--primary-color);
  text-align: left;
}
#progress > span {
  color: white;
  padding-left: 10px;
}

/** PRINT DIALOG */

#print {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    background-color:white;
    z-index:0;
    position:fixed;
    flex-direction:column;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    width: 300px;
    height:auto;
    border-radius: 15px;
    display:flex;
    box-shadow: 0px 2px 3px 1px #727272;
    transition: right .2s;
    display: none;
}

#print-title {
  background-color:#414042;
  color:white;
  font-size:20px;
  text-align: center;
  border-radius:15px 15px 0px 0px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#print-download {
  border-radius: 0px 0px 15px 15px;
  width: 100%;
}

#print-close {
    position: absolute;
    z-index: 200;
    right: 3px;
    top: 3px;
}
#print > div {
    border: 1px solid #888;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    margin: 6px 0 6px 0;
}
#print table {
    width: 100%;
}
#print th {
    text-align: left;
}
#print td {
    text-align: right;
}
#print input {
    text-align: right;
}
#print input[disabled] {
    background-color: #bbb;
    border-color: #ccc;
    color: black;
}
#print-density {
    disabled: false;
}
#grid-hint {
    font-style: italic;
    font-weight: lighter;
    font-size: 10px;
}
#octo-hint {
    font-style: italic;
    font-weight: lighter;
    font-size: 10px;
}
#print a {
    color: #8ae;
}
#print a:hover {
    color: #fff;
    background-color: #888;
}


 /* Slider */
  
 input[type=range] {
    -webkit-appearance: none;
    margin: 8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #727272;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #284360;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 25px;
    border: 1.5px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #727272;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #284360;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ebebeb;
    border: 1.5px solid #010101;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1.5px solid #010101;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #727272;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #284360;
    cursor: pointer;
    height: 4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  
